<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15F18c</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleALC</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.AppleALC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleALC</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.9</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7D175</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15E60</string>
	<key>DTSDKName</key>
	<string>macosx10.11</string>
	<key>DTXcode</key>
	<string>0730</string>
	<key>DTXcodeBuild</key>
	<string>7D175</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Hardware Config Resource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAHardwareConfigDriver</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>Comment</key>
					<string>Toleda ALC887</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFXHCAhVx0QIVce
					ASFXHwEhZxwwIWcdYCFnHgEhZx8BIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx2QIYceoCGHH5Ah
					lxxgIZcdkCGXHoEhlx8CIaccUCGnHTAhpx6B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfcc8CH3HQAh9x4AIfcfQCEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>Comment</key>
					<string>Toleda ALC887</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFXHPAhVx0AIVce
					ACFXH0AhZxzwIWcdACFnHgAhZx9AIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx1gIYceASGHHwEh
					lxxgIZcdkCGXHqAhlx+QIaccUCGnHRAhpx4B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfcc8CH3HQAh9x4AIfcfQCEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>Comment</key>
					<string>Toleda ALC887</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFXHCAhVx0QIVce
					ASFXHwEhZxzwIWcdACFnHgAhZx9AIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx2QIYceoCGHH5Ah
					lxxgIZcdkCGXHoEhlx8CIaccUCGnHTAhpx6B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfcc8CH3HQAh9x4AIfcfQCEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC887-VD</string>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfAQGHHFABhx2QAYce
					oAGHH5ABlxxgAZcdkAGXHoEBlx8CAacccAGn
					HTABpx6BAacfAQG3HIABtx1AAbceIQG3HwIB
					5xyQAecdYAHnHkUB5x8BAUcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC887-VD</string>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfAQFXHCABVx0QAVce
					AQFXHwEBZxwwAWcdYAFnHgEBZx8BAXccQAF3
					HSABdx4BAXcfAQGHHFABhx2QAYceoAGHH5AB
					lxxgAZcdkAGXHoEBlx8CAacccAGnHTABpx6B
					AacfAQG3HIABtx1AAbceIQG3HwIB5xyQAecd
					YAHnHkUB5x8BAUcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Realtek ALC887-VD</string>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>Comment</key>
					<string>InsanelyDeepak RealtekALC</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfASG3HCAhtx1AIbce
					ISG3HwIhpxwwIacdMCGnHoEhpx8BIYccUCGH
					HZAhhx6hIYcfkCGXHGAhlx2QIZcegSGXHwIh
					5xyQIecdYCHnHkUh5x8B
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Realtek ALC887-VD</string>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>Comment</key>
					<string>InsanelyDeepak RealtekALC</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFXHPAhVx0AIVce
					ACFXH0AhZxzwIWcdACFnHgAhZx9AIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx1gIYceASGHHwEh
					lxxgIZcdkCGXHqAhlx+QIaccUCGnHRAhpx4B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfcc8CH3HQAh9x4AIfcfQCEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Realtek ALC887-VD</string>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>Comment</key>
					<string>InsanelyDeepak RealtekALC</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFXHCAhVx0QIVce
					ASFXHwEhZxzwIWcdACFnHgAhZx9AIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx2QIYceoCGHH5Ah
					lxxgIZcdkCGXHoEhlx8CIaccUCGnHTAhpx6B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfcc8CH3HQAh9x4AIfcfQCEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Realtek ALC887-VD</string>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>Comment</key>
					<string>InsanelyDeepak RealtekALC</string>
					<key>ConfigData</key>
					<data>
					ARcc8AEXHQABFx4AARcfQAEnHPABJx0AASce
					AAEnH0ABRxxAAUcdQAFHHhEBRx8BAVcc8AFX
					HQABVx4AAVcfQAFnHPABZx0AAWceAAFnH0AB
					dxzwAXcdAAF3HgABdx9AAYccEAGHHZABhx6g
					AYcfkAGXHPABlx0AAZceAAGXH0ABpxwgAacd
					MAGnHoEBpx8CAbccUAG3HUABtx4hAbcfAgHn
					HHAB5x1hAeceRQHnHwIB9xzwAfcdAAH3HgAB
					9x9A
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>14</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Realtek ALC887-VD</string>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>Comment</key>
					<string>InsanelyDeepak RealtekALC</string>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfAQGHHFABhx2QAYce
					oAGHH5ABlxxgAZcdkAGXHoEBlx8CAacccAGn
					HTABpx6BAacfAQG3HIABtx1AAbceIQG3HwIB
					5xyQAecdYAHnHkUB5x8B
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Custom Realtek ALC887-VD by Constanta</string>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfASGHHFAhhx2QIYce
					oCGHH5AhlxxgIZcdkCGXHoEhlx8CIacccCGn
					HTAhpx6BIacfASG3HIAhtx1AIbceISG3HwIh
					5xyQIecdYCHnHkUh5x8B
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>99</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDAHardwareConfigDriverLoader</string>
		</dict>
		<key>as.vit9696.AppleALC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.vit9696.AppleALC</string>
			<key>IOClass</key>
			<string>AppleALC</string>
			<key>IOMatchCategory</key>
			<string>AppleALC</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 vit9696. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>11.0.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>11.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>11.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>11.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>11.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>11.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
