<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<true/>
				<key>AddHDMI</key>
				<false/>
				<key>FixAirport</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixHPET</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>FixUSB</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change EUSB to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RVVTQg==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change USBE to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VVNCRQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CUU0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					cA1DUFVTQ0swAENVVTA=
					</data>
					<key>Replace</key>
					<data>
					cABDVVUw
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CUU1</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					cA1DUFVTQ0sxAENVVTE=
					</data>
					<key>Replace</key>
					<data>
					cABDVVUx
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CUU2</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					cA1DUFVTQ0syAENVVTI=
					</data>
					<key>Replace</key>
					<data>
					cABDVVUy
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CUU3</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					cA1DUFVTQ0szAENVVTM=
					</data>
					<key>Replace</key>
					<data>
					cABDVVUz
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C100</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QzEwMAAQBAE=
					</data>
					<key>Replace</key>
					<data>
					QzEwMBAQBAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C101</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QzEwMQAQBAA=
					</data>
					<key>Replace</key>
					<data>
					QzEwMREQBAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C102</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QzEwMgAQBAA=
					</data>
					<key>Replace</key>
					<data>
					QzEwMhIQBAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C103</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					BEMxMDMAEAQ=
					</data>
					<key>Replace</key>
					<data>
					BEMxMDMTEAQ=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C104</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SwRDMTA0ABA=
					</data>
					<key>Replace</key>
					<data>
					SwRDMTA0FBA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C105</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					g0sEQzEwNQAQBAAABghfSA==
					</data>
					<key>Replace</key>
					<data>
					g0sEQzEwNRUQBAAABghfSA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C106</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QzEwNgAQBAAABghfSElEDQ==
					</data>
					<key>Replace</key>
					<data>
					QzEwNhYQBAAABghfSElEDQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C107</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					BEMxMDcAEAQAAAYIX0hJRA==
					</data>
					<key>Replace</key>
					<data>
					BEMxMDcXEAQAAAYIX0hJRA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C108</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SwRDMTA4ABAEAAAGCF9ISQ==
					</data>
					<key>Replace</key>
					<data>
					SwRDMTA4GBAEAAAGCF9ISQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C109</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					pAoPW4NLBEMxMDkAEAQAAA==
					</data>
					<key>Replace</key>
					<data>
					pAoPW4NLBEMxMDkZEAQAAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C10A</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					W4NLBEMxMEEAEAQAAAYIXw==
					</data>
					<key>Replace</key>
					<data>
					W4NLBEMxMEEaEAQAAAYIXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C10B</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					D1uDSwRDMTBCABAEAAAGCA==
					</data>
					<key>Replace</key>
					<data>
					D1uDSwRDMTBCGxAEAAAGCA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C10C</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					Cg9bg0sEQzEwQwAQBAAABg==
					</data>
					<key>Replace</key>
					<data>
					Cg9bg0sEQzEwQxwQBAAABg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C10D</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					g0sEQzEwRAAQBAAABghfSA==
					</data>
					<key>Replace</key>
					<data>
					g0sEQzEwRB0QBAAABghfSA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C10E</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					W4NLBEMxMEUAEAQAAAYIXw==
					</data>
					<key>Replace</key>
					<data>
					W4NLBEMxMEUeEAQAAAYIXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C10F</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					D1uDSwRDMTBGABAEAAAGCA==
					</data>
					<key>Replace</key>
					<data>
					D1uDSwRDMTBGHxAEAAAGCA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C110</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					Cg9bg0sEQzExMAAQBAAABg==
					</data>
					<key>Replace</key>
					<data>
					Cg9bg0sEQzExMI4QBAAABg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C111</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					pAoPW4NLBEMxMTEAEAQAAA==
					</data>
					<key>Replace</key>
					<data>
					pAoPW4NLBEMxMTGPEAQAAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C112</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					W4NLBEMxMTIAEAQAAAYIXw==
					</data>
					<key>Replace</key>
					<data>
					W4NLBEMxMTKQEAQAAAYIXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C113</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					D1uDSwRDMTEzABAEAAAGCA==
					</data>
					<key>Replace</key>
					<data>
					D1uDSwRDMTEzkRAEAAAGCA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C114</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					Cg9bg0sEQzExNAAQBAAABg==
					</data>
					<key>Replace</key>
					<data>
					Cg9bg0sEQzExNJIQBAAABg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C115</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					pAoPW4NLBEMxMTUAEAQAAA==
					</data>
					<key>Replace</key>
					<data>
					pAoPW4NLBEMxMTWTEAQAAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C116</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					W4NLBEMxMTYAEAQAAAYIXw==
					</data>
					<key>Replace</key>
					<data>
					W4NLBEMxMTaUEAQAAAYIXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C117</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					D1uDSwRDMTE3ABAEAAAGCA==
					</data>
					<key>Replace</key>
					<data>
					D1uDSwRDMTE3lRAEAAAGCA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C118</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					Cg9bg0sEQzExOAAQBAAABg==
					</data>
					<key>Replace</key>
					<data>
					Cg9bg0sEQzExOJYQBAAABg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C119</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					pAoPW4NLBEMxMTkAEAQAAA==
					</data>
					<key>Replace</key>
					<data>
					pAoPW4NLBEMxMTmXEAQAAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C11A</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					W4NLBEMxMUEAEAQAAAYIXw==
					</data>
					<key>Replace</key>
					<data>
					W4NLBEMxMUGYEAQAAAYIXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C11B</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					D1uDSwRDMTFCABAEAAAGCA==
					</data>
					<key>Replace</key>
					<data>
					D1uDSwRDMTFCmRAEAAAGCA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C11C</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					Cg9bg0sEQzExQwAQBAAABg==
					</data>
					<key>Replace</key>
					<data>
					Cg9bg0sEQzExQ5oQBAAABg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>C11D</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					pAoPW4NLBEMxMUQAEAQAAA==
					</data>
					<key>Replace</key>
					<data>
					pAoPW4NLBEMxMUSbEAQAAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change AZAL to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QVpBTA==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename GFX0 to IGPU (Graphics)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename SAT0 to SATA (Disk)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMA==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
			<key>Rtc8Allowed</key>
			<false/>
			<key>SlpSmiAtWake</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
		</array>
		<key>PatchAPIC</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>npci=0x3000 -v keepsyms=1 debug=0x100 nvda_drv=1</string>
		<key>Debug</key>
		<false/>
		<key>DefaultVolume</key>
		<string>Macintosh HD</string>
		<key>HibernationFixup</key>
		<true/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>Policy</key>
		<string>Allow</string>
		<key>Secure</key>
		<false/>
		<key>SkipHibernateTimeout</key>
		<false/>
		<key>Timeout</key>
		<integer>3</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>Type</key>
		<string>0x0A01</string>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<integer>5</integer>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>HighCurrent</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Nothing</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>ConsoleMode</key>
		<string>Max</string>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>CustomLogo</key>
					<false/>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>BootCamp</string>
					<key>Hidden</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>\EFI\Microsoft\Boot\bootmgfw.efi</string>
					<key>Type</key>
					<string>Windows</string>
					<key>Volume</key>
					<string>93DBD873-3C74-4DDC-A4FC-F11BB84D9294</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
			</array>
		</dict>
		<key>CustomIcons</key>
		<false/>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Recovery</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>3</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ShowOptimus</key>
		<false/>
		<key>Theme</key>
		<string>Simple</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
		<key>RadeonDeInit</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>AppleRTC</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<false/>
		<key>KernelXCPM</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RXh0ZXJuYWw=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>
				SW50ZXJuYWw=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QVBQTEUgU1NEAA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>CPU Frequency</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				/w+E0w==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>
				/w+F0w==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>CPU Frequency</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQABD4Q=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>
				AQABD4U=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>CPU Frequency</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PnU4
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>
				PpCQ
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>CPU Frequency</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				yXQUDzIl/w8AAGs=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>
				yesUDzIl/w8AAGs=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>CPU Frequency</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				yXQMDzKD4B9CiUQ7
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>
				yesMDzKD4B9CiUQ7
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>CPU Frequency</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AXRh
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>
				Aeth
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>CPU Frequency</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				dRG5
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>
				6xG5
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>MSR Patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				4gAAAEiJ8A8w
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>
				4gAAAEiJ8JCQ
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>MSR Patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				4gAAAA8w
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>
				4gAAAJCQ
				</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				00837D94100F835A
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				00837D941F0F835A
				</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AIN9lBAPg1o=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				AIN9lB8Pg1o=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26 in XHCI kext</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g710////EA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				g710////Hw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26 in XHCI kext</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g710////EA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				g710////Gw==
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>C02701270CDJG36AD</string>
		<key>ROM</key>
		<data>
		7Y4HcqSe
		</data>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>12/08/2017</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IMP11.88Z.0064.B30.1712081714</string>
		<key>Board-ID</key>
		<string>Mac-7BA5B2D9E42DDD94</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02701270CDJG36AD</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>iMacPro-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>220.250.330.0.0</string>
		<key>Family</key>
		<string>iMac Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFD8FF53F</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF9FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>PlatformFeature</key>
		<string>0xFFFF</string>
		<key>ProductName</key>
		<string>iMacPro1,1</string>
		<key>SerialNumber</key>
		<string>C02T200JHX87</string>
		<key>SmUUID</key>
		<string>CC307F9B-D25C-4520-8031-68D08F72A49E</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>CC307F9B-D25C-4520-8031-68D08F72A49E</string>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
		<key>NoCaches</key>
		<true/>
		<key>NvidiaWeb</key>
		<true/>
	</dict>
</dict>
</plist>
